table {
    border-collapse: collapse;
    margin: 1rem auto;
}

table, th, td {
    border-style: solid;
    border-width: 1px;
    border-color: #282c34;
}

th, td {
    padding: 0.5rem 2rem;
}

thead {
    background-color: #465b81;
    color: white;
}

th {
    font-weight: normal;
}

tbody td {
    text-align: left;
}

.unknown {
    color: grey;
}